*.gcda
*.o
.deps
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/config.guess
/config.sub
/configure.ac
/libtool
/ltmain.sh
/m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
install-sh
missing
sigar_port
sigar_port.exe
